@model IEnumerable<Senalai.Models.Departamento>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<p>
    @Html.ActionLink("Registrar Departamento", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-light table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreDepartamento)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDepartamento)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", null, new { id = item.DepartamentoID }, new { @class = "btn btn-info" }) |
                    @*@Html.ActionLink("Detalles", "Details",null, new { id=item.DepartamentoID }, new { @class = "btn btn-success" }) |*@
                    @Html.ActionLink("Eliminar", "Delete", null, new { id = item.DepartamentoID, }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        </tbody>
    }

</table>
