@model IEnumerable<Senalai.Models.Prestamos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Disposicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Inicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Final)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th><th>Acciones</th><th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Disposicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Inicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Final)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id = item.personaID }, new { @class = "btn btn-success" })
        </td>
        <td>
            @Html.ActionLink("Detalles", "Details", new { id = item.personaID }, new { @class = "btn btn-info" })
        </td>
        <td>
            @Html.ActionLink("Borrar", "Delete", new { id = item.personaID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
