@model Senalai.Models.Novedades

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Novedades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Novedad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Novedad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Realizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Realizacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NovedadesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
