@model Senalai.Models.Novedades

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Novedades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Novedad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Novedad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Realizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Realizacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", null, new { id = Model.NovedadesID }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
</p>
