@model IEnumerable<Senalai.Models.Novedades>

@{
    ViewBag.Title = "Index";
}

<h2 style=" text-align:center">NOVEDADES</h2>

<p>
    @Html.ActionLink("Nueva Novedad", "Create", null, new { @class = "btn btn-warning" })
</p>
<table class="table table-light table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo_Novedad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Fecha_Realizacion)
                </th>*@

            <th>Acciones</th>

        </tr>
    </thead>

    @foreach (var item in Model)
    {
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_Novedad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Fecha_Realizacion)
            </td>*@

            <td>
                @Html.ActionLink("Modificar", "Edit", new { id = item.NovedadesID }, new { @class = "btn btn-success" })

                @Html.ActionLink("Detalles", "Details", new { id = item.NovedadesID }, new { @class = "btn btn-info" })

                @Html.ActionLink("Borrar", "Delete", new { id = item.NovedadesID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    </tbody>
            }

    </table>
