@model IEnumerable<Senalai.Models.Sexo>

@{
    ViewBag.Title = "Index";
}

<h2 style=" text-align:center">SEXOS</h2>

<p>
    @Html.ActionLink("Nuevo Sexo", "Create", null, new { @class = "btn btn-warning" })
</p>
<table class="table table-light table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreSexo)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>

        @foreach (var item in Model)
        {
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSexo)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", new { id = item.SexoID }, new { @class = "btn btn-success" })

                @Html.ActionLink("Detalles", "Details", new { id = item.SexoID }, new { @class = "btn btn-info" })

                @Html.ActionLink("Borrar", "Delete", new { id = item.SexoID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    </tbody>
        }

</table>
