@model Senalai.Models.Elementos

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Elementos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ambientes.Numero_Ambiente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ambientes.Numero_Ambiente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Elementos.Nombre_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Elementos.Nombre_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Elementos.Nombre_TipoElemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Elementos.Nombre_TipoElemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero_Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa_Equipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa_Equipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", null, new { id = Model.ElementosID }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
</p>
