@model IEnumerable<Senalai.Models.Ambientes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Ambientes.Nombre_Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_Ambiente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Ambientes.Nombre_Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_Ambiente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AmbientesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AmbientesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AmbientesID })
        </td>
    </tr>
}

</table>
