@model IEnumerable<Senalai.Models.Tipo_Documento>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<p>
    @Html.ActionLink("Registrar Tipo Documento", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-light table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreDocumento)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDocumento)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", null, new { id = item.TipoDocumentoID }, new { @class = "btn btn-info" }) |
                    @*@Html.ActionLink("Detalles", "Details",null, new { id=item.TipodocumentoID }, new { @class = "btn btn-success" }) |*@
                    @Html.ActionLink("Eliminar", "Delete", null, new { id = item.TipoDocumentoID, }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        </tbody>
    }

</table>
